body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    flex-wrap: wrap; /* Добавлено для адаптивности */
    flex-direction: column;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    display: flex;
    flex-direction: column; /* Изменено для адаптивности */
    padding: 0.5em;
}

aside {
    width: 90%; /* Изменено для адаптивности */
    background-color: #f4f4f4;
    padding: 1em;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; /* Добавлено для адаптивности */
    overflow-y: auto;
}

aside h2 {
    color: #4CAF50;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 1em;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

aside ul li a:hover {
    text-decoration: underline;
}

section#content {
    text-align: justify;
    flex: 1;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em 0; /* Изменено для адаптивности */
}

section#content article h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

section#content article p {
    line-height: 1.6;
}

section#content article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Медиазапросы для адаптивности */
@media (min-width: 768px) {
    main {
        flex-direction: row; /* Изменение направления на большие экраны */
    }

    aside {
        width: 20%; /* Вернуть ширину для больших экранов */
        border-right: 1px solid #ccc; /* Вернуть правую границу */
        border-bottom: none; /* Убрать нижнюю границу */
    }

    section#content {
        margin-left: 1em; /* Вернуть отступ для больших экранов */
        margin-top: 0; /* Убрать верхний отступ */
    }
}
